// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

body
	background-color #fff

.blackBack
	background-color #0D0D0D

.cloudBack
	background-color #ECF0F1

.whiteBack
	background-color #FFFFFF

.alizarinBack
	background-color #E74C3C

.aspaltBack
	background-color #34495E

.greenLightBack
	background-color #3ab094

.gambarTengah img
	width 700px
	margin 0 auto

#typoExample1 img
	width 450px
	margin 0 auto

.gambarKanan
	background-image url("../images/question_mark1.png"	)
	background-repeat no-repeat
	background-size 300px
	background-position 340px -5px

.subJudul1
	color #fff

.different
	color #ECF0F1
	font-style italic
	font-size 80px
	font-weight bold

#typoExample2
	font-size 80px
	color #000
	background-color #E74C3C
	padding 100px

#typoExample3 img
	margin-top 40px
	width 250px

#typoExample4 img
	width 200px

.list p
	margin-top 20px
	margin-left	10px
	text-align left
	line-height 5px