doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Typography

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
     section.emphatic-text(data-bespoke-backdrop='blackBack').blackBack
        .gambarTengah
          img(src='images/typo.png')
          
      section.emphatic-text(data-bespoke-backdrop='aspaltBack').aspaltBack
        .gambarTengah#typoExample1
          img(src='images/typoExample1.jpg')

      section.emphatic-text(data-bespoke-backdrop='alizarinBack').alizarinBack
        p#typoExample2
          | dif
          span.different f
          | erence

      section.emphatic-text(data-bespoke-backdrop='whiteBack').whiteBack
        #typoExample3
          img(src='images/typoExample3.jpg')
        #typoExample4
          img(src='images/typoExample4.jpg')

      section.emphatic-text(data-bespoke-backdrop='aspaltBack')
        h2 Dasar Typhography
        .list
          p - Pengertian Typography
          p - Prinsip Utama Typography
          p - Typeface
          p - Font
          p - Klasifikasi Huruf
          p - Sistem Pengukuran Huruf
          p - Jarak Antar Baris
          p - Jarak Antar Kata dan huruf

      section.emphatic-text(data-bespoke-backdrop='greenLightBack').greenLightBack.gambarKanan
        br
        h2.animated.infinite.bouce  Ty-po-gra-phy
        br
        p Salah satu bahasan dalam bidang desain grafis yang berfokus pada teknik dan seni membuat teks menjadi dapat dicerna dengan mudah

      section.emphatic-text(data-bespoke-backdrop='aspaltBack')
        div.left-corner
          p Prinsip Utama Typography
        ul.prinsip-typo
          li 
            b.sub-title Readability
          li 
            span.meaning Berbicara tentang kemudahan membaca teks
          li 
            b.sub-title Legibility
          li.last-meaning
            span.meaning Berbicara tentang kemdahan mengenali setiap huruf dan kata
          li
            div.quote
              div.quotation
              span.quote-text Respect the text, respect the reader, respect the type
              br
              span.quote-name --Allan Haley


      section.emphatic-text(data-bespoke-backdrop='aspaltBack')
         div.left-corner
          p Typeface
         ul.bullet
          li 
           b.sub-title Typeface : Desain dasar sebuah karakter

          li 
           span.meaning Setiap Typeface memiliki desain untuk setiap huruf dari alfabet, angka, simbol tanda baca, ataupun simbol lainnya.

          li
           span.meaning 

          li
            span.meaning Contoh : “Arial”, “Courier”, “Calibri”, “Times New Roman”, dan “Helvetica”. 

          li 
           span.typeface-arial Arial : ABCDEFGHIJKLMNOPQRSTUVWXYZ
           br
           span.typeface-courier Courier : ABCDEFGHIJKLMNOPQRSTUVWXYZ
           br
           span.typeface-calibri Calibri : ABCDEFGHIJKLMNOPQRSTUVWXYZ

          li
            span.meaning  Typeface juga mencakup 
            b ketebalan, 
            i kemiringan, 
            | dll.
            

        

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section

        h1 HAZARD Team        
        p @nipeharefa , @Albertang95, @hello-bos, @tommy

    script(src='build/build.js')
