doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Typhography

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
     section.emphatic-text(data-bespoke-backdrop='blackBack').blackBack
        .gambarTengah
          img(src='images/typo.png')
          
      section.emphatic-text(data-bespoke-backdrop='aspaltBack').aspaltBack
        .gambarTengah#typoExample1
          img(src='images/typoExample1.jpg')

      section.emphatic-text(data-bespoke-backdrop='greenLightBack').greenLightBack.gambarKanan
        br
        h2.animated.infinite.bouce  Ty-po-gra-phy
        br
        p Salah satu bahasan dalam bidang desain grafis yang berfokus pada teknik dan seni membuat teks menjadi dapat dicerna dengan mudah

      section.emphatic-text(data-bespoke-backdrop='alizarinBack').alizarinBack
        p#typoExample2
          | dif
          span.different f
          | erence

      section.emphatic-text(data-bespoke-backdrop='whiteBack').whiteBack
        #typoExample3
          img(src='images/typoExample3.jpg')
        #typoExample4
          img(src='images/typoExample4.jpg')

      section.emphatic-text(data-bespoke-backdrop='aspaltBack')
        h2 Dasar Typhography
        .list
          p - Prinsip Utama Typography
          p - Typeface
          p - Font
          p - Klasifikasi Huruf
          p - Sistem Pengukuran Huruf
          p - Jarak Antar Baris
          p - Jarak Antar Kata dan Huruf

      section
        h1 HAZARD Team
        @nipeharefa , @Albertang95, @hello-bos, @tommy131111955



    script(src='build/build.js')
